:root {
  font-family: "Outfit Variable", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import "tailwindcss";

/* add a custom tailwind utility for small caps */
@layer utilities {
  .small-caps {
    font-variant: small-caps;
  }
}